/* imports */

@import "https://fonts.googleapis.com/css?family=VT323";

/* base */

html,head,body {
  padding:0; margin:0;
}

/* leaderboard */

.leaderboard {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 35vw;
  width: 30vw;
  padding: 2vw 5vw;
  font-size: 3vw;
  background-color: black;
  color: white;
  margin-top: 1vw;
}

.leaderboard .header {
  text-transform: uppercase;
  text-align: center;
}

.leaderboard .row {
  padding: 0.5vw 0;
}

.leaderboard .row div {
  display: inline-block;
  width: 50%;
}

.leaderboard .row .score {
  text-align: right;
}

/* add-to-leaderboard */

.add-to-leaderboard {
  /*box-sizing: border-box;*/
  position: fixed;
  top: 14.5vw;
  padding: 3vw 4vw;
  font-size: 3vw;
  background-color: black;
  color: white;
  margin-top: 1vw;
  border: 1vw solid white;
  text-transform: uppercase;
}

input {
  font-family: inherit;
  color: inherit;
  background-color: inherit;
  border: none;
  font-size: inherit;
  outline:none;
  text-transform: inherit;
}

.button {
  text-align: center;
  background-color: white;
  color: black;
  margin: 2vw auto 0.5vw;
  width: 11vw;
}
